* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

nav {
    background-color: black;
    min-height: 10vh;
}

nav span img{
    max-width: 30px;
}

#logo{
    letter-spacing: -2px;
    word-spacing: 6px;
}

header{
    background-image: url(/images/header\ rosa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
}

.separador{
    background-color: black;
    padding: 10px;
    
}

.buttons{
    padding: 180px;
}

@media (max-width: 600px){
    .buttons{
        padding: 50px;
    }
    
}

.buttons a {
    max-width: 500px;
    display: block;
    margin: 50px auto 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    
    border: none;
    font-weight: 600;
}

.barra-final{
    background-color: black;
    padding: 2vh;
}
