*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

nav {
    background-color: black;
}

nav span img{
    max-width: 30px;
}

.separador{
    background-color: black;
    padding: 10px;
}

header{
    background-image: url(../images/ghilbi-rate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.random{
    padding: 100px;

}

.random a {
    max-width: 500px;
    display: block;
    margin: 50px auto 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    
    border: none;
}

.pregunta{
    text-align: center;
}

h2{
    
    text-align: center;
    padding-bottom: 30px;
}

article{
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:#93E5E1;
}

article img{
    max-width: 200px;
    padding-bottom: 30px;
    
}

footer{
    background-color: black;
    padding: 2vh;
    
}

.description{
    background-color: rgba( 244, 164, 96, 0.8);
    padding: 50px;
    border-radius: 5px;
}

@media (max-width: 600px) {
   
    .random{
        padding: 70px;
    }

    article{
       padding: 50px; 
    }
}
