* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

nav {
    background-color: black;
    min-height: 10vh;
}

nav span img{
    max-width: 30px;
}

header{
    background-image: url(./images/ciozau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
}

.separador{
    background-color: black;
    padding: 10px;
}


.barra-final{
    background-color: black;
    padding: 2vh;
}

