* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: black;
    min-height: 10vh;
}

nav span img{
    max-width: 30px;
}

header{
    background-image: url(./images/ponyo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
}

.buttons{
    padding: 100px;
    flex-direction: row;
}

@media (max-width: 600px){
    .buttons{
        padding: 50px;
    }
    
}

.buttons a {
    max-width: 500px;
    display: block;
    margin: 50px auto 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    text-shadow: 2px 2px black;
    border: none;
}

.barra-final{
    background-color: black;
    padding: 2vh;
}
